
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
  font-family: 'Poppins'; 
  height: 100%; 

}

#container{
	min-height: 100%; 
}

main{
	overflow: auto; 
	padding-bottom: 150px; 
	
}
h1{
  position: relative; 
  text-align: center;
  font-size: 3.5em;
  font-weight: bold; 
  
}
h2{
  position: relative; 
  text-align: center;
  top: 10px;  
  font-size: 1.5em;
  line-height: 40px;
  }
  
h3{
	position: relative; 
	top: 20px; 
}





#navbar{
  position: relative; 
  width: 100%; 
  height: 150px; 
  bottom: 20px;  
  font-family: 'Poppins'; 
  font-size: 1.25rem;
}

.logo{
  float: left;
  display: inline-block; 
  vertical-align: top; 
	margin-top: 10px; 
  width: 7% !important; 
  
  
}



.navigation-bar > a{

	display: inline-block; 
	vertical: top; 
	margin-right: 20px; 
	height: 80px; 
	line-height: 80px; 
	float: right; 

}


.navigation-bar > a:hover{
  color: #9E9EFF; 
}

/* Link color */ 

.navigation-bar > a:visited{
	text-decoration: none; 
	color: black; 
}

.navigation-bar > a:link{
	text-decoration: none; 
}

.navigation-bar > a:hover{
	text-decoration: none; 
	color:#9E9EFF; 
	
}

.navigation-bar > a:active{
	text-decoration: none; 
}
/* END Link color */ 


/* To get rid of purple underline for project boxes */ 

 a:visited{
	text-decoration: none; 
	color: black; 
}

 a:link{
	text-decoration: none; 
}

 a:hover{
	text-decoration: none; 
}

 a:active{
	text-decoration: none; 
}
/* END To get rid of purple underline for project boxes  */ 

#intro-section{
  height: 20 vh; 
  text-align: center; 
  margin-right: 20%;
  margin-left: 20%;
  
  line-height: 0%;
  
}

span{
  color: #9e9eff; 
}

.project-container{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center; 
  margin-top: ;
}




/*Change div box size here*/
.project-container > div{
  background-color: white; 
  border: 1px solid white;
  
 
  width: 500px; 
  height: 400px; 
  margin: 10px; 
  text-align: center; 
  line-height: 75px; 
  
  
}

/* cover img height here */ 
.cover img{
  width: 100%;
  height: 400px;
  
}






.project-container > div:hover{
  transform: scale(1.1);
}

footer{
 position: relative; 
 left: 0; 
 bottom: 0; 
 width: 100%; 
 height: 15vh;
 text-align: left;
 background-color: #9E9EFF; 

 color: whitesmoke;
 
}

.fa-linkedin{
  color: whitesmoke;
  float: right; 
  margin-right: 1.5%;
  margin-top: 50px;
}

.fa-copyright{
  margin-left: 1.5%;
  margin-top: 50px;
}

.fa-linkedin:hover{
  color: teal;
  
}




@media(max-width:1024px) {

body,.project-container, ,project-container > div{ 
    overflow: auto !important; 
	max-height: 100% !important; 
	
	}

.project-container{
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
}

}
