
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); /* adds font-weight black */ 



body{
  font-family: 'Lato';  
  
}

h2{
										
  text-align: center; 
  font-size: 2.5rem; 
}

h3{
  
    display: block;  
  margin-left: auto; 
  margin-right: auto; 
  font-weight: black; 
  font-size: 1.5rem; 
  text-align: left; 
  width: 85%;   
}

h4{
  margin-left: 300px; 
}

p{
  display:block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 80%; 
  font-size: 1.15rem; 
  line-height: 1.5em; 
}

#navbar{
  position: relative; 
  width: 100%; 
  height: 80px; 
 bottom: 10px;  
 font-weight: normal;
 font-size: 1.15rem; 
  
}

a{
	font-weight: normal; 
}

.logo{
	display: inline-block; 
	vertical-align: top; 
	margin-right: 20px; 
	margin-top: 10px; 
	
	width: 7% !important;
}

.navigation-bar > a{

	display: inline-block; 
	vertical: top; 
	margin-right: 20px; 
	height: 80px; 
	line-height: 80px; 
	float: right; 

}

ol{
  margin-left: auto; 
  margin-right: auto; 
  width: 50%; 
  
}

img{
  display:block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 50%; 
  
  }

span{
  font-weight: bold; 
}

#navbar{
  position: relative; 
  width: 100%; 
  height: 80px; 
  bottom: 10px;  
  
  
}

.logo{
	display: inline-block; 
	vertical-align: top; 
	margin-right: 20px; 
	margin-top: 10px; 
	width: 7%; 
}

/* Link color */ 

.navigation-bar > a:visited{
	text-decoration: none; 
	color: black; 
}

.navigation-bar > a:link{
	text-decoration: none; 
}

.navigation-bar > a:hover{
	text-decoration: none; 
	color: #E84A27; 
	
}

.navigation-bar > a:active{
	text-decoration: none; 
}

 a:visited{
	text-decoration: none; 
	color: black; 
}

a:link{
	text-decoration: none; 
	color:black; 
}

a:hover{
	text-decoration: none; 
	color: #E84A27; 
}

a:active{
	text-decoration: none; 
	color: black; 
}
/* END Link color */ 

/* Footer Link color */ 

 a:visited{
	text-decoration: none; 
	color: black; 
}

 a:link{
	text-decoration: none; 
	 color: black; 
}

 a:hover{
	text-decoration: none; 
	color: #E84A27; 
	
}

 a:active{
	text-decoration: none; 
	 color: black; 
}
/* END Footer Link color */ 
footer{
 position: relative; 
 left: 0; 
 bottom: 0; 
 width: 100%; 
 text-align: center; 
 word-spacing: 30px; 
}

